body{
    background-image: linear-gradient(#EEE 0%, #FFF 100%);
    height: 100vh;
}
.align-center{
    align-content: center;
}
.container{
    padding: 2% 0;
}
.form-container{
    margin-top: 100px;
}
.card{
    width: 350px;
    margin-bottom: auto;
    justify-content: center;
    padding: 10px;
    background: rgba(0,0,0,0.5);
}
.card-footer{
    color: white;
    text-align: center;
}